.loginsignup{
    width: 100%;
    height: 95vh;
    padding-top: 100px;
    margin-bottom: 100px;

}

.logingsignup-container{
    border-radius: 20px;
    width: 580px;
    height: 650px;
    background: #a7effc;
    margin: auto;
    padding: 40px 60px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.logingsignup-container h1{
    margin: 20px 0px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
    border-radius: 20px;

}

.logingsignup-container button{
    width: 460px;
    height: 72px;
    color: white;
    background: #d103ab;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;

}

.loginsignup-login{
    margin-top: 20px;
    color:#5c5c5c ;
    font-weight:18px ;
    font-size: 500;
}

.loginsignup-login span{
    color: #d103ab;
    font-weight: 600;
    cursor: pointer;
    
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top:25px ;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}


@media(max-width:1281px){
    .loginsignup{
        padding-top: 50px;
    }

    .logingsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }

    .logingsignup-container h1{
        margin: 10px 0px;
    }

    .loginsignup-fields{
        gap: 20px;
        margin-top: 20px;
    }

    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }

    .logingsignup-container button{
        width: 100%;
    }

    .logingsignup-login{
        font-size: 16px;
    }

    .loginsignup-agree{
        font-size: 14px;
        gap: 10px;
    }
}


@media(max-width:800px){
    .loginsignup{
        padding: 20px 30px;
    }

    

    .logingsignup-container h1{
        font-size: 24px;
    }

    .loginsignup-fields{
        margin-top: 20px;
    }

    .loginsignup-fields input{
        height: 50px;
    }

    .logingsignup-container button{
        height: 50px;
        font-size: 16px;
    }

    
}