.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center ;
    background: white;
    height: 100px;
    width:1560px;
    border-radius: 20px;
    margin: 20px 68px;
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2); */
    margin-top: 30px;
    line-height: 2;
    box-shadow: 0px 0px 15px 0px #6ad5f3;
    /* animation: animate 4s linear infinite; */
    /* text-shadow: 0px 0px 6px cyan, 0px 0px 8px cyan, 0px 0px 10px cyan, 0px 0px 12px cyan, 0px 0px 6px cyan, 0px 0px 14px cyan; */
    
    
}




/* 
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */

.nav-logo{
    align-items: center;
    /* gap: 10px; */
}
.nav-logo img{
    width: 100px;
    cursor: pointer;
    height: 60px;
    margin-top: -15px;
}
/* .nav-logo p{
    color: #09b6e6;
    font-size: 30px;
    font-weight: 600;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    margin-left: 10px;
    margin-top: -10px;
  
} */
.nav-menue{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    
}

.nav-menue li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menue li a {
    color: #04b6dd;;
  }
.nav-menue hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #06c2f7;
}



.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* removes the gap so the menu doesn't appear disjointed */
}

.dropdown-menu li a{

    margin-left: -90px;
    color: white;
    line-height: 50px;
}
.dropdown-menu li a:hover{
    color:#09b6e6 ;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-dropdown{
    display: none;
}
.dropdown-menu{
    background: #171717  ;
    border-radius: 10px;
    width: 200px;
    
}

.nav-login-cart button{
    width: 140px;
    height: 50px;
    outline: none;
    border: 3px solid#1fd4f4;
    border-radius: 75px;
    color: #09b6e6;;
    font-size: 20px;
    font-weight: 500;
    background: #f8fcff;

    cursor: pointer;


}

.nav-login-cart button:active{
    background: rgba(198, 237, 241, 0.255);
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

@media(max-width:1280px){
    .navbar{
        padding: 12px 50px; 
    }
    .nav-logo img{
        width: 40PX;
    }

    .nav-logo p{
        font-size: 25px;
    }
    .nav-menue{
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart{
        gap: 30px;
             
    }

    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;       
    }
    .nav-cart-count{
        margin-left: -45px;
        font-size: 12px;
    }
}


@media (max-width:1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menue{
        gap: 25px;
        font-size: 14px;
    }
    .nav-logo img{
        width: 50px;
        height: 50px;
    }

    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width:  18px;
        height: 18px;
    }


}

@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }

    .nav-dropdown{
        display: block;
         height: 35px;
         width: 30px;
         margin-top: 5px;
         rotate: -90deg;
         transition: 0.5s;
    }

    .nav-menue{
        display: none;
        width: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }

    .nav-menu-visible{
        display: flex;

    }

    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}

@media(max-width:500px){
    .navbar{
        width: 8px 0px;
        gap: 0;
    }

    .nav-logo{
        transform: scale(0.8);
    }
    .nav-logo img{
        width: auto;
    }
    .nav-menue{
        height: 70px;
        top: 50px; 
    }
    .nav-login-cart{
        transform: scale(0.8);
    }
}